.idea
.vscode
.sonarlint
.ipynb_checkpoints
AWS

SENSEMBED paper.pdf
Homework_2_nlp.pdf

resources/grid_search.json
resources/grid_search2.json
resources/EuroSense
resources/sew
resources/train-o-matic-data
resources/train-o-matic-data.zip
resources/sew_complete.tar.gz
resources/wordsim353
resources/bn2wn_mapping.txt


code/__pycache__
code/.ipynb_checkpoints
code/.sonarlint
